/*
 * CKEditor 5 (v12.3.1) content styles.
 * Generated on Mon, 19 Aug 2019 12:01:17 GMT.
 * For more information, check out https://ckeditor.com/docs/ckeditor5/latest/builds/guides/integration/content-styles.html
 */

 :root {
	--ck-image-style-spacing: 1.5em;
}

/* ckeditor5-image/theme/image.css */
.ck-content {
	.image {
		display: table;
		clear: both;
		text-align: center;
		margin: 1em auto
	}
	/* ckeditor5-image/theme/image.css */
	.image > img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
		min-width: 50px;
	}
	/* ckeditor5-image/theme/imagecaption.css */
	.image > figcaption {
		display: table-caption;
		caption-side: bottom;
		word-break: break-word;
		color: hsl(0, 0%, 20%);
		background-color: hsl(0, 0%, 97%);
		padding: .6em;
		font-size: .75em;
		outline-offset: -1px;
	}
	/* ckeditor5-image/theme/imageresize.css */
	.image.image_resized {
		max-width: 100%;
		display: block;
		box-sizing: border-box
	}
	/* ckeditor5-image/theme/imageresize.css */
	.image.image_resized img {
		width: 100%;
	}
	/* ckeditor5-image/theme/imageresize.css */
	.image.image_resized > figcaption {
		display: block;
	}
	/* ckeditor5-media-embed/theme/mediaembed.css */
	.media {
		clear: both;
		margin: 1em 0;
		display: block;
		min-width: 15em;
	}
	/* ckeditor5-table/theme/table.css */
	.table {
		margin: 1em auto;
		display: table
	}
	/* ckeditor5-table/theme/table.css */
	.table table {
		border-collapse: collapse;
		border-spacing: 0;
		border: 1px double hsl(0, 0%, 70%)
	}
	/* ckeditor5-table/theme/table.css */
	.table table td,
	.table table th {
		min-width: 2em;
		padding: .4em;
		border-color: hsl(0, 0%, 85%);
	}
	/* ckeditor5-table/theme/table.css */
	.table table td,
	.table table th {
		min-width: 2em;
		padding: .4em;
		border-color: hsl(0, 0%, 85%);
	}
	/* ckeditor5-table/theme/table.css */
	.table table th {
		font-weight: bold;
		background: hsl(0, 0%, 98%);
	}
	/* ckeditor5-basic-styles/theme/code.css */
	code {
		background-color: hsla(0, 0%, 78%, 0.3);
		padding: .15em;
		border-radius: 2px;
	}
	/* ckeditor5-image/theme/imagestyle.css */
	.image-style-side:not(.image_resized),  .image-style-align-left:not(.image_resized),  .image-style-align-center:not(.image_resized),  .image-style-align-right:not(.image_resized) {
		max-width: 50%;
	}
	/* ckeditor5-image/theme/imagestyle.css */
	.image-style-side:not(.image_resized),  .image-style-align-left:not(.image_resized),  .image-style-align-center:not(.image_resized),  .image-style-align-right:not(.image_resized) {
		max-width: 50%;
	}
	/* ckeditor5-image/theme/imagestyle.css */
	.image-style-side:not(.image_resized),  .image-style-align-left:not(.image_resized),  .image-style-align-center:not(.image_resized),  .image-style-align-right:not(.image_resized) {
		max-width: 50%;
	}
	/* ckeditor5-image/theme/imagestyle.css */
	.image-style-side:not(.image_resized),  .image-style-align-left:not(.image_resized),  .image-style-align-center:not(.image_resized),  .image-style-align-right:not(.image_resized) {
		max-width: 50%;
	}
	/* ckeditor5-image/theme/imagestyle.css */
	.image-style-side {
		float: right;
		margin-left: var(--ck-image-style-spacing);
	}
	/* ckeditor5-image/theme/imagestyle.css */
	.image-style-align-left {
		float: left;
		margin-right: var(--ck-image-style-spacing);
	}
	/* ckeditor5-image/theme/imagestyle.css */
	.image-style-align-center {
		margin-left: auto;
		margin-right: auto;
	}
	/* ckeditor5-image/theme/imagestyle.css */
	.image-style-align-right {
		float: right;
		margin-left: var(--ck-image-style-spacing);
	}
	/* ckeditor5-block-quote/theme/blockquote.css */
	blockquote {
		overflow: hidden;
		padding-right: 1.5em;
		padding-left: 1.5em;
		margin-left: 0;
		margin-right: 0;
		font-style: italic;
		border-left: solid 5px hsl(0, 0%, 80%);
	}
	/* ckeditor5-block-quote/theme/blockquote.css */
	[dir="rtl"] blockquote {
		border-left: 0;
		border-right: solid 5px hsl(0, 0%, 80%);
	}
}