<template>
	<div class="grid-x grid-margin-x">
		<div class="cell">
			Image: {{ selectedFileName }}
			<input type="hidden" :id="fieldname" :name="fieldname" v-model="selected">
		</div>

		<div class="cell small-8" id="image-preview">
			<img v-if="selected != ''" :src="selected">	
			<img v-else src="/assets/noimg320.png">
		</div>

		<div  class="cell medium-4" >
			<a class="button expanded" @click="openSelector">Change Image</a>
			<a class="button expanded" @click="selected = ''">Clear Image</a>
		</div>

		<div class="reveal" id="image-picker" data-reveal>
			<label for="fileUpload" class="button tiny" style="position: absolute; right: 1rem;">
				<i class="fas fa-cloud-upload-alt"></i> Upload Image
			</label>
			<input type="file" @change="onFileChange" class="show-for-sr" id="fileUpload">

			<div v-if="upload != null" class="image-upload-wrapper">
				<div class="cell">
					<img :src="previewURL">
				</div>
				<meter v-if="isUploading" :value="progress" min="0" low="33" high="66" optimum="100" max="100"></meter>
				<div class="button-group small expanded">
					<a class="button" @click="onUpload()"><i class="fas fa-save"></i> Save</a>
					<a class="button" @click="upload = null"><i class="fas fa-times-circle"></i> Cancel</a>
				</div>
			</div>

			<div v-else class="image-picker-wrapper">
				<input type="file" @change="onFileChange" class="show-for-sr" id="fileUpload">
				<h5>Select your image</h5>

				<div class="grid-x grid-margin-x small-up-3 image-disaply-list">
					<div 
						v-for="n in 9" v-if="ix(n) < imageList.length" 
						:class="isSelected( ix(n) )" 
						@click="bugaboo = imageList[ix(n)].url">
						<img :src="imageList[ ix(n) ].url">
					</div>
				</div>

				<div class="button-group small expanded">
					<a class="button" @click="page = 0"><i class="fas fa-angle-double-left"></i> First Page</a>
					<a class="button" @click="page = Math.max(0, page - 1)"><i class="fas fa-angle-left"></i> Previous Page</a>
					<a class="button" @click="page = Math.min(maxPage, page + 1)"><i class="fas fa-angle-right"></i> Next Page</a>
					<a class="button" @click="page = maxPage"><i class="fas fa-angle-double-right"></i> Last Page</a>
				</div>

				<div class="button-group small expanded">
					<a :class="[{'disabled' : bugaboo == ''}, 'button']" @click="saveChoice()"><i class="fas fa-save"></i> Save</a>
					<a class="button" data-close="image-picker"><i class="fas fa-times-circle"></i> Cancel</a>
				</div>
			</div>
		</div>

	</div>
</template>

<script>
	export default {
		props: ['uploadurl','images','fieldname', 'default', 'value'],

		data() {
			return {
				selected: '',
				imageList: [],
				upload: null,
				isUploading: false,
				progress: 0,
				page: 0,
				previewURL: '',
				bugaboo: ''
			}
		},

		watch: {
			value(new1, old1) {
				this.selected = new1;
			},

			images(new1, old1) {
				this.imageList = new1;
			},
		},

		methods: {
			onFileChange(event) {
				this.upload = event.target.files[0];
				this.previewURL = URL.createObjectURL(this.upload);
			},

			onUpload() {
				Event.$emit('message', 'Uploading your image');
				this.progress = 0;
				this.isUploading = true;
				const formData = new FormData();
				formData.append('image', this.upload, this.upload.name)

				axios.post(this.uploadurl, formData, {
					onUploadProgress: p => { 
						this.progress = Math.round(p.loaded / p.total) * 100  } } )
				.then(r => {
					console.log(r.data);
					this.$emit('input', this.selected);
					this.$emit('new-image', r.data);
					this.isUploading = false;
					this.upload = null;
					this.bugaboo = r.data.url;
					this.page = this.maxPage;
					this.checkImage(r.data);
				});
			},

			isSelected(index) {
				if(this.imageList[index].url == this.bugaboo)
					return "cell is-selected";
				else
					return "cell";
			},

			ix(n) {
				return (this.page * 9) + n - 1;
			},

			saveChoice() {
				if(this.bugaboo != '') {
					this.selected = this.bugaboo;
					$('#image-picker').foundation('close');
					this.$emit('input', this.selected);
				}
			},

			openSelector() {
				$('#image-picker').foundation();
				$('#image-picker').foundation('open');
			},

			checkImage(image) {
				var index = this.imageList.findIndex(e => e.url == image.url)
				if(index == -1)
					this.imageList.push(image);
			}
		},
		computed: {
			selectedFileName() {
				if(this.selected == "" || this.select == null)
					return "No file selected";

				var current = this.imageList.find(r => r.url == this.selected);
				return current.name;
			},

			maxPage() {
				return Math.floor( (this.imageList.length - 1)  / 9);
			},

		},

		mounted() {
			this.selected = this.default;
			this.imageList = this.images;
			$('#image-preview').foundation();
		},
	}
</script>

<style lang="scss" scoped>
.full-width {
	width: 100%;
}
.file-upload>label:first-child {
	text-align: left;
	border-right: 1px solid #fefefe;
}
#image-preview {
	height: 200px;
	position: relative;
	overflow: hidden;

 	img {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		object-fit: cover;
		object-position: center;
	}
}

.image-disaply-list {

	.cell {
		margin-bottom: 1rem;
		padding: .5rem;
		border-radius: 5px;
		height: 150px;
		position: relative;
		overflow: hidden;

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			object-fit: cover;
			object-position: center;
			max-width: 95%;
		}


		&:hover {
			background-color: #3e5241;
		}
	}
}

.image-upload-wrapper{
	text-align: center;

	img{
		max-height: 500px;
	}
}

.is-selected {
	background-color: #1779ba !important;
}
</style>