<template>
	<div>
		<label>
			{{ header }}
			<slot name="errors"></slot>
		</label>
		<input type="hidden" :name="name" :id="name" v-model="textValue">
		<ckeditor 
			:editor="editor" 
			:config="config"
			v-model="textValue"
			@ready="setHeight" 
			@blur="onEditorBlur"
			@focus="onEditorFocus"/>
	</div>
</template>

<script>
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

export default {
	props: {
		name: String,
		header: String,
		default: String,
		height: String,
		config: {
			type: Object,
			default: function () {
				return { 
					toolbar: ['heading', 'bold', 'italic', 'link', '|', 'undo', 'redo' ],
				}
			}
		}

	},

	data() {
		return {
			editor: ClassicEditor,
			complete: null,
			textValue: '',
		}
	},

	methods: {
		setHeight(editor) {
			this.complete = editor;
			this.complete.ui.view.editable.element.style.height = this.height + 'px';
		},

		onEditorFocus(event, editor) {
			this.setHeight(editor);
		},

		onEditorBlur(event, editor) {
			this.setHeight(editor);
			setTimeout(() => { this.setHeight(editor); } , 10)
		},
	},

	computed: { },

	ready() {
		this.$children[0].instance.ui.view.editable.element.style.height = this.height + 'px';
	},

	mounted() {
		this.textValue = this.default;
	},

	created() {	}
}
</script>

<style lang="scss" scoped>
.form-error.is-visible {
	margin-bottom: 0;
}
</style>